@font-face {
  font-family: 'Great Vibes';
  src: url('GreatVibes-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Playwrite CU';
  src: url('PlaywriteCU-VariableFont_wght.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}


h1, h2, h3 {
  text-align: center;
  margin: 0;
}

h1 span {
  display: block;
}

#spot-on {
  font-family: 'Great Vibes', sans-serif;
  font-size: 15vw;;
}

#honey-bees {
  font-family: 'Playwrite CU';
  font-size: 9vw;
}

h2 {
  font-family: sans-serif;
  font-size: 6vw;
}